body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: relative;
}

.hamburger {
    position: absolute;
    top: -10px;
    right: 120px;
    flex-direction: column;
    width: 20px;
}

.hamburger div {
    background-color: white;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.sidebar {
    width: 20%;
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.user-info {
    text-align: center;
}

.user-info h5 {
    color: black;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

.menu li {
    padding: 10px;
    text-align: center;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.main-content {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

.user{
    width: 50px;
}

.grafico{
    width: 500px;
    position: absolute;
    top: 425px;
}